
<ul class="nav navbar-nav">
  <li>Home</li>
  <li>About</li>
  <li>Contact</li>
</ul>

<div class="container">
  <div class="row">
    <div class="div col-lg-4">
      <p><button class="btn btn-primary"></button></p>
    </div>
    <div class="div col-lg-4">
      <p><button class="btn btn-primary"></button></p>
    </div>
    <div class="div col-lg-4">
      <p><button class="btn btn-primary"></button></p>
    </div>
  </div>
  <div class="row">
    <div class="div col-lg-4">
      <p><button class="btn btn-primary"></button></p>
    </div>
    <div class="div col-lg-4">
      <p><button class="btn btn-primary"></button></p>
    </div>
    <div class="div col-lg-4">
      <p><button class="btn btn-primary"></button></p>
    </div>
  </div>
  <div class="row">
    <div class="div col-lg-4">
      <p><button class="btn btn-primary"></button></p>
    </div>
    <div class="div col-lg-4">
      <p><button class="btn btn-primary"></button></p>
    </div>
    <div class="div col-lg-4">
      <p><button class="btn btn-primary"></button></p>
    </div>
  </div>
</div>
