<div class="container">

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">About</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
    </ul>
  </div>
</nav>
  <div class="row">
    <div class="col-lg-4">
      <p>Lorem ipsum dolor amet forage normcore helvetica lo-fi skateboard beard flexitarian tofu. Edison bulb leggings semiotics
      meh marfa tumblr. Tofu swag cred tote bag art party. Pickled shabby chic small batch hoodie synth kinfolk neutra jianbing
      90's mumblecore umami tattooed shoreditch prism. +1 selfies ugh la croix fanny pack, copper mug aesthetic franzen man bun
      fashion axe vice cred. Messenger bag knausgaard VHS, try-hard brunch meggings cold-pressed bicycle rights mlkshk man bun
      hella roof party seitan blue bottle. Farm-to-table gentrify austin cray chartreuse, polaroid selfies.</p>
      <button class="btn btn-primary">Like</button>
    </div>
    <div class="col-lg-4">
      <p>Kitsch bitters sriracha, polaroid messenger bag tumeric schlitz man bun. Lomo thundercats etsy godard small batch. Chicharrones
      8-bit copper mug semiotics gentrify. Tacos shaman woke chambray, actually tumblr listicle put a bird on it taxidermy tattooed
      raclette af blue bottle art party vaporware. Vegan single-origin coffee adaptogen artisan, banjo brunch sustainable readymade
      four dollar toast dreamcatcher. Migas adaptogen church-key gluten-free direct trade green juice, scenester gastropub sustainable
      godard waistcoat. Coloring book tilde vegan godard la croix, gochujang af intelligentsia.</p>
      <button class="btn btn-primary">Like</button>
    </div>
    <div class="col-lg-4">
      <p>Trust fund cloud bread ennui meggings put a bird on it everyday carry freegan 8-bit godard umami quinoa. Hot chicken synth
      seitan tote bag, mumblecore paleo beard wolf snackwave fanny pack leggings shabby chic. Biodiesel iceland prism, pabst crucifix
      fam tilde mumblecore taiyaki kitsch copper mug live-edge tattooed. Snackwave lomo selfies stumptown single-origin coffee.
      Franzen ugh whatever hashtag typewriter photo booth. Crucifix kickstarter franzen cornhole, direct trade offal vaporware.
      Bitters schlitz pinterest la croix poutine keytar listicle whatever artisan.</p>
      <button class="btn btn-primary">Like</button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4"><p>Mixtape farm-to-table put a bird on it godard freegan. Craft beer fashion axe vaporware swag hashtag YOLO leggings everyday
    carry man bun four dollar toast iceland sriracha tilde. Bicycle rights shabby chic man braid quinoa. Knausgaard venmo viral
    succulents YOLO man braid food truck cronut hot chicken.</p><button class="btn btn-primary">Like</button></div>
    <div class="col-lg-4"><p>Live-edge adaptogen poke banjo taxidermy venmo etsy direct trade wayfarers fam VHS +1. Pour-over taxidermy paleo, mlkshk
    hashtag shoreditch sriracha lumbersexual pickled hoodie VHS kombucha gochujang. Four dollar toast marfa VHS, williamsburg
    la croix twee pok pok slow-carb pitchfork stumptown vegan YOLO bitters sriracha. Cloud bread tofu flexitarian XOXO selfies
    raclette next level gentrify chillwave hexagon you probably haven't heard of them pabst PBR&B meh franzen. Blog celiac cardigan
    lo-fi pug crucifix, literally live-edge knausgaard 8-bit.</p><button class="btn btn-primary">Like</button></div>
    <div class="col-lg-4"><p>Cred venmo flexitarian messenger bag. Thundercats irony fanny pack snackwave pinterest craft beer. Actually craft beer vice
    intelligentsia knausgaard fashion axe, keytar raclette wayfarers readymade slow-carb synth. Four loko intelligentsia banjo
    kale chips hella, activated charcoal selvage.</p><button class="btn btn-primary">Like</button></div>

  </div>
  <div class="row">
    <div class="col-lg-4"><p>PBR&B skateboard typewriter iceland microdosing put a bird on it, irony drinking vinegar street art. Vinyl sartorial vape
    whatever, authentic palo santo church-key knausgaard. Ramps enamel pin selfies kale chips, poke yr marfa hammock next level
    asymmetrical cornhole glossier synth. Farm-to-table viral four dollar toast, hoodie messenger bag cliche master cleanse quinoa
    tbh.</p> <button class="btn btn-primary">Like</button></div>
    <div class="col-lg-4"><p>Fam distillery etsy, ugh hella cronut single-origin coffee tbh coloring book vice iPhone listicle fashion axe wolf. Pok pok
    vinyl prism, occupy raclette hell of scenester literally selfies. Direct trade keytar ethical gochujang enamel pin listicle
    chartreuse bespoke. Crucifix asymmetrical microdosing health goth pug umami. Hell of +1 hashtag chartreuse, pok pok bicycle
    rights poutine pop-up. Bespoke pour-over occupy, woke hot chicken photo booth raw denim.</p><button class="btn btn-primary">Like</button></div>
    <div class="col-lg-4"><p>PBR&B pinterest pitchfork slow-carb farm-to-table. Chambray hot chicken before they sold out ennui, beard glossier prism
    art party fanny pack hella literally cronut pok pok. Helvetica biodiesel green juice roof party. Umami meditation chicharrones
    brooklyn pok pok schlitz.</p><button class="btn btn-primary">Like</button></div>
  </div>
</div>