<div class="container">
  <ul class="nav navbar-nav">
    <li>Home</li>
    <li>About</li>
    <li>Contact</li>
  </ul>
  <div class="row">
    <div class="col-lg-4">
      <p>Click Me 1
        <button class="btn"></button>
      </p>
    </div>
    <div class="col-lg-4">
      <p>Click Me 2
        <button class="btn"></button>
      </p>
    </div>
    <div class="col-lg-4">
      <p>Click Me 3
        <button class="btn"></button>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <p>Click Me 4
        <button class="btn"></button>
      </p>
    </div>
    <div class="col-lg-4">
      <p>Click Me 5
        <button class="btn"></button>
      </p>
    </div>
    <div class="col-lg-4">
      <p>Click Me 6
        <button class="btn"></button>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <p>Click Me 7
        <button class="btn"></button>
      </p>
    </div>
    <div class="col-lg-4">
      <p>Click Me 8
        <button class="btn"></button>
      </p>
    </div>
    <div class="col-lg-4">
      <p>Click Me 9
        <button class="btn"></button>
      </p>
    </div>
  </div>
</div>
