<div class="container">

  <ul class='nav navbar-nav'>
    <li href="#">Home</li>
    <li href="#">About</li>
    <li href="#">Contact</li>
  </ul>

<div class='row'>
  <div class='col-lg-4'>
    <p>
      some text
      <button type="button" class="btn btn-primary">Primary</button>
    </p>
  </div>
  <div class='col-lg-4'>
    <p>
      some text
      <button type="button" class="btn btn-primary">Primary</button>
    </p>
  </div>
  <div class='col-lg-4'>
    <p>
      some text
      <button type="button" class="btn btn-primary">Primary</button>
    </p>
  </div>
</div>
<div class='row'>
  <div class='col-lg-4'>
    <p>
      some text
      <button type="button" class="btn btn-primary">Primary</button>
    </p>
  </div>
  <div class='col-lg-4'>
    <p>
      some text
      <button type="button" class="btn btn-primary">Primary</button>
    </p>
  </div>
  <div class='col-lg-4'>
    <p>
      some text
      <button type="button" class="btn btn-primary">Primary</button>
    </p>
  </div>
</div>
<div class='row'>
  <div class='col-lg-4'>
    <p>
      some text
      <button type="button" class="btn btn-primary">Primary</button>
    </p>
  </div>
  <div class='col-lg-4'>
    <p>
      some text
      <button type="button" class="btn btn-primary">Primary</button>
    </p>
  </div>
  <div class='col-lg-4'>
    <p>
      some text
      <button type="button" class="btn btn-primary">Primary</button>
    </p>
  </div>
</div>
</div>
