<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <p><button type="button" class="btn">Caroga</button></p>
    </div>
    <div class="col-lg-4">
      <p><button type="button" class="btn">Titan</button></p>
    </div>
    <div class="col-lg-4">
      <p><button type="button" class="btn">Norman</button></p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <p><button type="button" class="btn">Orion</button></p>
    </div>
    <div class="col-lg-4">
      <p><button type="button" class="btn">Otto</button></p>
    </div>
    <div class="col-lg-4">
      <p><button type="button" class="btn">JuneBug</button></p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <p><button type="button" class="btn">Zeus</button></p>
    </div>
    <div class="col-lg-4">
      <p><button type="button" class="btn">Kayley</button></p>
    </div>
    <div class="col-lg-4">
      <p><button type="button" class="btn">Buck</button></p>
    </div>
  </div>
</div>
