<div class="container">
  
  <ul class="nav navbar-nav">
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li> 
      <li><a href="#">Contact</a></li> 
  </ul>

  

  <div class="row">
    <div class="col-lg-4"><p><button type="button" class="btn btn-primary btn-lg">One</button></p>
    <div class="col-lg-4"><p><button type="button" class="btn btn-primary btn-lg">Two</button></p>
    <div class="col-lg-4"><p><button type="button" class="btn btn-primary btn-lg">Three</button></p>
  </div>
  <div class="row">
    <div class="col-lg-4"><p><button type="button" class="btn btn-primary btn-lg">Four</button></p>
    <div class="col-lg-4"><p><button type="button" class="btn btn-primary btn-lg">Five</button></p>
    <div class="col-lg-4"><p><button type="button" class="btn btn-primary btn-lg">Six</button></p>
  </div>
<br></br>
  <div class="row">
    <div class="col-lg-4"><p><button type="button" class="btn btn-primary btn-lg">Seven</button></p>
    <div class="col-lg-4"><p><button type="button" class="btn btn-primary btn-lg">Eight</button></p>
    <div class="col-lg-4"><p><button type="button" class="btn btn-primary btn-lg">Nine</button></p>
  </div>

</div>