<div class="container">
  <nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
  <div class="row">
    <div class="col-lg-4">
      <p>Lorem ipsum dolor amet vape shaman four loko cray vaporware gastropub tofu polaroid flexitarian meggings la croix yuccie. Vexillologist ugh lo-fi, hexagon palo santo kombucha +1 bitters chambray gastropub dreamcatcher.</p>
      <button type="button" class="btn">Button</button>
    </div>
    <div class="col-lg-4">
      <p>Blog vegan cray +1 yr cliche vexillologist PBR&B polaroid gastropub adaptogen biodiesel raw denim letterpress. Cloud bread tofu pork belly, kogi kinfolk wayfarers la croix chambray vape.</p>
      <button type="button" class="btn">Button</button>
    </div>
    <div class="col-lg-4">
      <p>Hashtag cray chartreuse vinyl. Swag direct trade twee migas thundercats kogi. Mustache chartreuse microdosing quinoa edison bulb green juice next level. Lyft messenger bag fingerstache mixtape irony.</p>
      <button type="button" class="btn">Button</button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <p>You probably haven't heard of them offal bushwick ethical brunch green juice asymmetrical master cleanse. Shoreditch brooklyn pug viral. Aesthetic literally umami, hammock crucifix selvage man braid pork belly flannel hella street art portland four dollar toast master cleanse.</p>
      <button type="button" class="btn">Button</button>
    </div>
    <div class="col-lg-4">
      <p>VHS taxidermy tilde, cardigan leggings marfa offal gochujang cred neutra squid pitchfork occupy. Vaporware enamel pin gastropub letterpress, cornhole actually shaman godard man bun bitters franzen DIY blog literally pinterest.</p>
      <button type="button" class="btn">Button</button>
    </div>
    <div class="col-lg-4">
      <p>Forage deep v bespoke cold-pressed coloring book skateboard humblebrag meditation offal keytar you probably haven't heard of them tote bag edison bulb ugh williamsburg.</p>
      <button type="button" class="btn">Button</button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <p>Wayfarers before they sold out biodiesel scenester tilde echo park letterpress tbh pickled tacos taiyaki air plant forage polaroid listicle.</p>
      <button type="button" class="btn">Button</button>
    </div>
    <div class="col-lg-4">
      <p>Brooklyn snackwave four loko, microdosing ramps cloud bread put a bird on it mumblecore. Kickstarter succulents pinterest drinking vinegar shoreditch. </p>
      <button type="button" class="btn">Button</button>
    </div>
    <div class="col-lg-4">
      <p>Locavore portland humblebrag you probably haven't heard of them semiotics 90's, PBR&B XOXO aesthetic cardigan retro. Affogato sustainable 90's godard hot chicken listicle.</p>
      <button type="button" class="btn">Button</button>
    </div>
  </div>
</div>
