<div class="container">
  <nav>
    <ul class="nav navbar-nav">
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
  <div class="row">
    <div class="col-lg-4">
      <p>
        <button class="btn btn-primary"></button>
      </p>
    </div>
    <div class="col-lg-4">
      <p>
        <button class="btn btn-danger"></button>
      </p>
    </div>
    <div class="col-lg-4">
      <p>
        <button class="btn btn-warning"></button>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <p>
        <button class="btn btn-default"></button>
      </p>
    </div>
    <div class="col-lg-4">
      <p>
        <button class="btn btn-info"></button>
      </p>
    </div>
    <div class="col-lg-4">
      <p>
        <button class="btn btn-default"></button>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <p>
        <button class="btn btn-primary"></button>
      </p>
    </div>
    <div class="col-lg-4">
      <p>
        <button class="btn btn-success"></button>
      </p>
    </div>
    <div class="col-lg-4">
      <p>
        <button class="btn btn-warning"></button>
      </p>
    </div>
  </div>
</div>
