
  <div class="container">

    <nav class="navbar">
      <ul class="nav navbar-nav mr-auto">
        <li class="nav-item active">
          <a href="#" class="nav-link">Home</a>
        </li>
        <li class="nav-item active">
          <a href="#" class="nav-link">About</a>
        </li>
        <li class="nav-item active">
          <a href="#" class="nav-link">Contact</a>
        </li>
      </ul>
    </nav>

    <div class="row">
      <div class="col-lg-4">
        <p><button type="button" class="btn btn-primary">HI</button></p>
      </div>
      <div class="col-lg-4">
        <p><button type="button" class="btn btn-primary">HI</button></p>
      </div>
      <div class="col-lg-4">
        <p><button type="button" class="btn btn-primary">HI</button></p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <p><button type="button" class="btn btn-primary">HEY</button></p>
      </div>
      <div class="col-lg-4">
        <p><button type="button" class="btn btn-primary">HEY</button></p>
      </div>
      <div class="col-lg-4">
        <p><button type="button" class="btn btn-primary">HEY</button></p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <p><button type="button" class="btn btn-primary">HELLO</button></p>
      </div>
      <div class="col-lg-4">
        <p><button type="button" class="btn btn-primary">HELLO</button></p>
      </div>
      <div class="col-lg-4">
        <p><button type="button" class="btn btn-primary">HELLO</button></p>
      </div>
    </div>
  </div>
