<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
</nav>
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <p>CHECK</p>
        <button type="button"class="btn btn-default">just</button>
      </div>
      <div class="col-lg-4">
        <p>CHECKING</p>
        <button type="button"class="btn btn-default">just</button>
      </div>
      <div class="col-lg-4">
        <p>PASSED</p>
        <button type="button"class="btn btn-default">just</button>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <p>CHECK</p>
        <button type="button"class="btn btn-default">just</button>
      </div>
      <div class="col-lg-4">
        <p>CHECKING</p>
        <button type="button"class="btn btn-default">just</button>
      </div>
      <div class="col-lg-4">
        <p>PASSED</p>
        <button type="button"class="btn btn-default">just</button>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <p>CHECK</p>
        <button type="button"class="btn btn-default">just</button>
      </div>
      <div class="col-lg-4">
        <p>CHECKING</p>
        <button type="button"class="btn btn-default">just</button>
      </div>
      <div class="col-lg-4">
        <p>PASSED</p>
        <button type="button"class="btn btn-default">just</button>
      </div>
    </div>
  </div>
</body>
