<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div>
            <ul class="nav navbar-nav">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <p>How much water do you drink daily?</p>
                <div class="btn-group">
                    <button type="button" class="btn btn-default">Less than 32 oz</button>
                </div>
            </div>
            <div class="col-lg-4">
                <p>What is your favorite kind of pet?</p>
                <div class="btn-group">
                    <button type="button" class="btn btn-default">Cat</button>
                </div>
            </div>
            <div class="col-lg-4">
                <p>Do you know how to change a tire?</p>
                <div class="btn-group">
                    <button type="button" class="btn btn-default">Yes</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <p>Which of the following topics do you have magazine subscriptions for?</p>
                <div class="btn-group">
                    <button type="button" class="btn btn-default">Home & Garden</button>
                </div>
            </div>
            <div class="col-lg-4">
                <p>How often do you shop for groceries?</p>
                <div class="btn-group">
                    <button type="button" class="btn btn-default">1-2 times/week</button>
                </div>
            </div>
            <div class="col-lg-4">
                <p>What sport are you particularly strong in?</p>
                <div class="btn-group">
                    <button type="button" class="btn btn-default">Soccer</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <p>How often do you upgrade your laptop?</p>
                <div class="btn-group">
                    <button type="button" class="btn btn-default">Every 3-5 years</button>
                </div>
            </div>
            <div class="col-lg-4">
                <p>What is your favorite travel destination setting?</p>
                <div class="btn-group">
                    <button type="button" class="btn btn-default">Beach and relaxation</button>
                </div>
            </div>
            <div class="col-lg-4">
                <p>I have a secret desire to be a</p>
                <div class="btn-group">
                    <button type="button" class="btn btn-default">blogger</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>