<ul class="nav navbar-nav">
  <li>Home</li>
  <li>About</li>
  <li>Contact</li>
</ul>


<div class="container">
  <div class="row">
    <div class="col-lg-4 ">
      <p class="btn"></p>
    </div>
    <div class="col-lg-4">
      <p class="btn"></p>
    </div>
    <div class="col-lg-4">
      <p class="btn"></p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <p class="btn"></p>
    </div>
    <div class="col-lg-4">
      <p class="btn"></p>
    </div>
    <div class="col-lg-4">
      <p class="btn"></p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <p class="btn"></p>
    </div>
    <div class="col-lg-4">
      <p class="btn"></p>
    </div>
    <div class="col-lg-4">
      <p class="btn"></p>
    </div>
  </div>
</div>
