<div class="row">
  <div class="col-lg-4">
    <p>Meaningfull content</p>
    <button class="btn btn-default"></button>
  </div>
  <div class="col-lg-4">
    <p>Meaningfull content</p>
    <button class="btn btn-default"></button>
  </div>
  <div class="col-lg-4">
    <p>Meaningfull content</p>
    <button class="btn btn-default"></button>
  </div>
</div>
<div class="row">
  <div class="col-lg-4">
    <p>Meaningfull content</p>
    <button class="btn btn-default"></button>
  </div>
  <div class="col-lg-4">
    <p>Meaningfull content</p>
    <button class="btn btn-default"></button>
  </div>
  <div class="col-lg-4">
    <p>Meaningfull content</p>
    <button class="btn btn-default"></button>
  </div>
</div>
<div class="row">
  <div class="col-lg-4">
    <p>Meaningfull content</p>
    <button class="btn btn-default"></button>
  </div>
  <div class="col-lg-4">
    <p>Meaningfull content</p>
    <button class="btn btn-default"></button>
  </div>
  <div class="col-lg-4">
    <p>Meaningfull content</p>
    <button class="btn btn-default"></button>
  </div>
</div>
