<body>
  <div class="container">
    <ul class="nav navbar-nav">

      <li>
        <a href="/home"> Home</a>
      </li>
      
      <li>
        <a href="/contact"> Contact</a>
      </li>

      <li>
        <a href="/about"> About</a>
      </li>

        <div class="row">
          <div class = "col-lg-4"> Column #1
            <p>
              <button type="button" class="btn">
                Button 1
              </button>
            </p>
          </div>

          <div class="col-lg-4"> Column #2
            <p>
              <button type="button" class="btn">
                Button 2
              </button>
            </p>
          </div>


          <div class="col-lg-4"> Column #3
          <p>
            <button type="button" class="btn">
              Button 3
            </button>
          </p>
        </div>


      </div>

      <div class="row">
        <div class="col-lg-4"> Column #1
          <p>
            <button type="button" class="btn">
              Button 1
            </button>
          </p>
        </div>

        <div class="col-lg-4"> Column #2
          <p>
            <button type="button" class="btn">
              Button 2
            </button>
          </p>
        </div>

        <div class="col-lg-4"> Column #3
          <p>
            <button type="button" class="btn">
              Button 3
            </button>
          </p>
        </div>

      </div>

      <div class="row">
        <div class="col-lg-4"> Column #1
          <p>
            <button type="button" class="btn">
              Button 1
            </button>
          </p>
        </div>

        <div class="col-lg-4"> Column #2
          <p>
            <button type="button" class="btn">
              Button 2
            </button>
          </p>
        </div>

        <div class="col-lg-4"> Column #3
          <p>
            <button type="button" class="btn">
              Button 3
            </button>
          </p>
        </div>

      </div>
    </ul>
    </div>

</body>
