<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <p>some text</p>
      <button class="btn btn-default" type="submit">Button</button>
    </div>
    <div class="col-lg-4">
      <p>some text</p>
      <button class="btn btn-default" type="submit">Button</button>
    </div>
    <div class="col-lg-4">
      <p>some text</p>
      <button class="btn btn-default" type="submit">Button</button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <p>some text</p>
      <button class="btn btn-default" type="submit">Button</button>
    </div>
    <div class="col-lg-4">
      <p>some text</p>
      <button class="btn btn-default" type="submit">Button</button>
    </div>
    <div class="col-lg-4">
      <p>some text</p>
      <button class="btn btn-default" type="submit">Button</button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <p>some text</p>
      <button class="btn btn-default" type="submit">Button</button>
    </div>
    <div class="col-lg-4">
      <p>some text</p>
      <button class="btn btn-default" type="submit">Button</button>
    </div>
    <div class="col-lg-4">
      <p>some text</p>
      <button class="btn btn-default" type="submit">Button</button>
    </div>
  </div>
</div>
