<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <p>Hello</p>
      <button type="button" class="btn btn-default">Click Me</button>
    </div>

    <div class="col-lg-4">
      <p>Hello</p>
      <button type="button" class="btn btn-default">Click Me</button>
    </div>

    <div class="col-lg-4">
      <p>Hello</p>
      <button type="button" class="btn btn-default">Click Me</button>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <p>Hello</p>
      <button type="button" class="btn btn-default">Click Me</button>
    </div>

    <div class="col-lg-4">
      <p>Hello</p>
      <button type="button" class="btn btn-default">Click Me</button>
    </div>

    <div class="col-lg-4">
      <p>Hello</p>
      <button type="button" class="btn btn-default">Click Me</button>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <p>Hello</p>
      <button type="button" class="btn btn-default">Click Me</button>
    </div>

    <div class="col-lg-4">
      <p>Hello</p>
      <button type="button" class="btn btn-default">Click Me</button>
    </div>

    <div class="col-lg-4">
      <p>Hello</p>
      <button type="button" class="btn btn-default">Click Me</button>
    </div>
  </div>
</div>