<div class="container">
  
  <div class="row">
    <div class="col-lg-4">
      <p>Some Text</p>
      <button class="btn btn-primay">Button</button>
    </div>
    <div class="col-lg-4">
      <p>Some Text</p>
      <button class="btn btn-primay">Button</button>
    </div>
    <div class="col-lg-4">
      <p>Some Text</p>
      <button class="btn btn-primay">Button</button>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <p>Some Text</p>
      <button class="btn btn-primay">Button</button>
    </div>
    <div class="col-lg-4">
      <p>Some Text</p>
      <button class="btn btn-primay">Button</button>
    </div>
    <div class="col-lg-4">
      <p>Some Text</p>
      <button class="btn btn-primay">Button</button>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <p>Some Text</p>
      <button class="btn btn-primay">Button</button>
    </div>
    <div class="col-lg-4">
      <p>Some Text</p>
      <button class="btn btn-primay">Button</button>
    </div>
    <div class="col-lg-4">
      <p>Some Text</p>
      <button class="btn btn-primay">Button</button>
    </div>
  </div>
</div>
