<div class="row">
      <div class="col-lg-4">
        <p>Column #1</p>
        <button class="btn btn-default" type="submit">Button</button>
    </div>
    <div class="col-lg-4">
        <p>Column #2</p>
        <button class="btn btn-default" type="submit">Button</button>
    </div>
    <div class="col-lg-4">
        <p>Column #3</p>
        <button class="btn btn-default" type="submit">Button</button>
    </div>
  </div>
      <div class="row">
        <div class="col-lg-4">
        <p>Column #1</p>
        <button class="btn btn-default" type="submit">Button</button>
    </div>
    <div class="col-lg-4">
        <p>Column #2</p>
        <button class="btn btn-default" type="submit">Button</button>
    </div>
    <div class="col-lg-4">
        <p>Column #3</p>
        <button class="btn btn-default" type="submit">Button</button>
    </div>
  </div>
      <div class="row">
          <div class="col-lg-4">
            <p>Column #1</p>
            <button class="btn btn-default" type="submit">Button</button>
          </div>
        <div class="col-lg-4">
            <p>Column #2</p>
            <button class="btn btn-default" type="submit">Button</button>
        </div>
        <div class="col-lg-4">
            <p>Column #3</p>
            <button class="btn btn-default" type="submit">Button</button>
        </div>
      </div> 