<body>
<nav class="navbar navbar-default navbar-static-top">
  <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home<span class="sr-only">(current)</span></a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
</nav>

  <div class="container">

    <div class="row">
      <div class="col-lg-4">
        <p>Column #1</p>
        <button type="button" class="btn btn-primary">Primary</button>
      </div>
      <div class="col-lg-4">
        <p>Column #2</p>
        <button type="button" class="btn btn-primary">Primary</button>
      </div>
      <div class="col-lg-4">
        <p>Column #3</p>
        <button type="button" class="btn btn-primary">Primary</button>
      </div>
    </div> <!-- row -->

     <div class="row">
      <div class="col-lg-4">
        <p>Column #1</p>
        <button type="button" class="btn btn-primary">Primary</button>
      </div>
      <div class="col-lg-4">
        <p>Column #2</p>
        <button type="button" class="btn btn-primary">Primary</button>
      </div>
      <div class="col-lg-4">
        <p>Column #3</p>
        <button type="button" class="btn btn-primary">Primary</button>
      </div>
    </div> <!-- row -->

     <div class="row">
        <div class="col-lg-4">
        <p>Column #1</p>
        <button type="button" class="btn btn-primary">Primary</button>
      </div>
      <div class="col-lg-4">
        <p>Column #2</p>
        <button type="button" class="btn btn-primary">Primary</button>
      </div>
      <div class="col-lg-4">
        <p>Column #3</p>
        <button type="button" class="btn btn-primary">Primary</button>
      </div>
    </div> <!-- row -->


  </div> <!--container-->

</body>