<div class="container">
  <ul class="nav navbar-nav">
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Contact</a></li>
</ul>
  <div class="row">
    <div class="col-lg-4">
      <p>Info</p>
      <button type="button" class="btn btn-info">Info</button>
    </div>
    <div class="col-lg-4">
      <p>Primary</p>
      <button type="button" class="btn btn-primary">Primary</button>
    </div>
    <div class="col-lg-4">
      <p>Secondary</p>
      <button type="button" class="btn btn-secondary">Secondary</button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <p>Info</p>
      <button type="button" class="btn btn-info">Info</button>
    </div>
    <div class="col-lg-4">
      <p>Primary</p>
      <button type="button" class="btn btn-primary">Primary</button>
    </div>
    <div class="col-lg-4">
      <p>Secondary</p>
      <button type="button" class="btn btn-secondary">Secondary</button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <p>Info</p>
      <button type="button" class="btn btn-info">Info</button>
    </div>
    <div class="col-lg-4">
      <p>Primary</p>
      <button type="button" class="btn btn-primary">Primary</button>
    </div>
    <div class="col-lg-4">
      <p>Secondary</p>
      <button type="button" class="btn btn-secondary">Secondary</button>
    </div>
  </div>
</div>
