
<div class="row">
  <div class="col-lg-4">
    <p>random stuff</p>
    <a class="btn" href="#">I'm a button!</a>
  </div>
  <div class="col-lg-4">
    <p>random stuff</p>
    <a class="btn" href="#">I'm a button!</a>
  </div>
  <div class="col-lg-4">
    <p>random stuff</p>
    <a class="btn" href="#">I'm a button!</a>
  </div>
</div>
<div class="row">
  <div class="col-lg-4">
    <p>random stuff</p>
    <a class="btn" href="#">I'm a button!</a>
  </div>
  <div class="col-lg-4">
    <p>random stuff</p>
    <a class="btn" href="#">I'm a button!</a>
  </div>
  <div class="col-lg-4">
    <p>random stuff</p>
    <a class="btn" href="#">I'm a button!</a>
  </div>
</div>
<div class="row">
  <div class="col-lg-4">
    <p>random stuff</p>
    <a class="btn" href="#">I'm a button!</a>
  </div>
  <div class="col-lg-4">
    <p>random stuff</p>
    <a class="btn" href="#">I'm a button!</a>
  </div>
  <div class="col-lg-4">
    <p>random stuff</p>
    <a class="btn" href="#">I'm a button!</a>
  </div>
</div>
