

  <body>
    <div class="container">

      <!-- NavBar Code -->
<div class="row>"

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="#">Home</a></li>
              <li ><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>

            </ul>
</div>

      <!-- End Navbar -->
      <div class="row">
        <div class="col-lg-4">
          <p>1.First</p><button class="btn">first</button>
          </div>
            <div class="col-lg-4">
              <p>1.2nd</p>
              <button class="btn">second</button>
            </div>
                <div class="col-lg-4">
                <p>  1.3rd</p><button class="btn">Third</button>
                </div>
        </div>
        <div class="row">
              <div class="col-lg-4">
                <p>2.First</p><button class="btn">2 First</button>
                </div>
                  <div class="col-lg-4">
                    <p>2.2nd</p><button class="btn">2 Second</button>
                  </div>
                      <div class="col-lg-4">
                      <p>  2.3rd</p><button class="btn">2Third</button>
                      </div>
          </div>
          <div class="row">
                <div class="col-lg-4">
                  <p>3.First</p><button class="btn">3 First</button>
                </div>
                <div class="col-lg-4">
                    <p>3.2nd</p><button class="btn">3 Second</button>
                </div>
                <div class="col-lg-4">
                        <p>  3.3rd</p><button class="btn">3 Third</button>
                </div>
            </div>

    </div>
