<div class="container">
  <nav class="navbar navbar default">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </nav>


  <div class="row">
    <div class="col-lg-4">
      <p>Row 1 Col 1</p>
      <button class="btn btn-default" type="submit">Button</button>
    </div>
    <div class="col-lg-4">
      <p>Row 1 Col 2</p>
      <button class="btn btn-default" type="submit">Button</button>
    </div>
    <div class="col-lg-4">
      <p>Row 1 Col 3</p>
      <button class="btn btn-default" type="submit">Button</button>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <p>Row 2 Col 1</p>
      <button class="btn btn-default" type="submit">Button</button>
    </div>
    <div class="col-lg-4">
      <p>Row 2 Col 2</p>
      <button class="btn btn-default" type="submit">Button</button>
    </div>
    <div class="col-lg-4">
      <p>Row 2 Col 3</p>
      <button class="btn btn-default" type="submit">Button</button>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <p>Row 3 Col 1</p>
      <button class="btn btn-default" type="submit">Button</button>
    </div>
    <div class="col-lg-4">
      <p>Row 3 Col 2</p>
      <button class="btn btn-default" type="submit">Button</button>
    </div>
    <div class="col-lg-4">
      <p>Row 3 Col 3</p>
      <button class="btn btn-default" type="submit">Button</button>
    </div>

  </div>
</div>
