<div class="container">
  <nav class="navbar">
    <ul class="nav navbar-nav">
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>

  <div class="row">
    <div class="col-lg-4">
      <p>This day is called the feast of Crispian:<button class="btn btn-primary">He that outlives this day</button</p>
    </div>
    <div class="col-lg-4">
      <p>and comes safe home,<button class="btn btn-primary">Will stand a tip-toe when the day is named,</button</p>
    </div>
    <div class="col-lg-4">
      <p>And rouse him at the name of Crispian.<button class="btn btn-primary">He that shall live this day, and see old age,</button</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <p>Will yearly on the vigil feast his neighbours,<button class="btn btn-primary">And say 'To-morrow is Saint Crispian:'</button</p>
    </div>
    <div class="col-lg-4">
      <p>Then will he strip his sleeve and show his scars.<button class="btn btn-primary">And say 'These wounds I had on Crispin's day.'</button</p>
    </div>
    <div class="col-lg-4">
      <p>Old men forget: yet all shall be forgot,<button class="btn btn-primary">But he'll remember with advantages</button</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <p>What feats he did that day: then shall our names.<button class="btn btn-primary">Familiar in his mouth as household words</button</p>
    </div>
    <div class="col-lg-4">
      <p>Harry the king, Bedford and Exeter,<button class="btn btn-primary">Warwick and Talbot, Salisbury and Gloucester,</button</p>
    </div>
    <div class="col-lg-4">
      <p>Be in their flowing cups freshly remember'd.<button class="btn btn-primary">This story shall the good man teach his son;</button</p>
    </div>
  </div>
</div>
