<body>
  <div class= "nav">
    <ul class= "navbar-nav">
      <li>Home</li>
      <li>About</li>
      <li>Contact</li>
    </ul>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <p></p>
        <button class= "btn"></button>
      </div>
      <div class="col-lg-4">
        <p></p>
        <button class= "btn"></button>
      </div>
      <div class="col-lg-4">
        <p></p>
        <button class= "btn"></button>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <p></p>
        <button class= "btn"></button>
      </div>
      <div class="col-lg-4">
        <p></p>
        <button class= "btn"></button>
      </div>
      <div class="col-lg-4">
        <p></p>
        <button class= "btn"></button>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <p></p>
        <button class= "btn"></button>
      </div>
      <div class="col-lg-4">
        <p></p>
        <button class= "btn"></button>
      </div>
      <div class="col-lg-4">
        <p></p>
        <button class= "btn"></button>
      </div>
    </div>
  </div>
</body>
