<div class="container">

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">TestSite</a>
      </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
    </div>
  </nav>

  
  <div class="row">
    <div class="col-lg-4">
      <p>Primary:</p>
      <button type="button" class="btn btn-primary">Primary</button>
    </div>
    <div class="col-lg-4">
      <p>Secondary:</p>
      <button type="button" class="btn btn-secondary">Secondary</button>
    </div>
    <div class="col-lg-4">
      <p>Success:</p>
      <button type="button" class="btn btn-success">Success</button>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <p>Danger:</p>
      <button type="button" class="btn btn-danger">Danger</button>
    </div>
    <div class="col-lg-4">
      <p>Warning:</p>
      <button type="button" class="btn btn-warning">Warning</button>
    </div>
    <div class="col-lg-4">
      <p>Info:</p>
      <button type="button" class="btn btn-info">Info</button>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <p>Light:</p>
      <button type="button" class="btn btn-light">Light</button>
    </div>
    <div class="col-lg-4">
      <p>Dark:</p>
      <button type="button" class="btn btn-dark">Dark</button>
    </div>
    <div class="col-lg-4">
      <p>Link:</p>
      <button type="button" class="btn btn-link">Link</button>
    </div>
  </div>

</div>