<div class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div class="row">
    <div class="col-lg-4">
      <p>1r1c</p>
      <button type="button" class="btn btn-primary">Primary</button>
    </div>
    <div class="col-lg-4">
      <p>1r2c</p>
      <button type="button" class="btn btn-primary">Primary</button>
    </div>
    <div class="col-lg-4">
      <p>1r3c</p>
      <button type="button" class="btn btn-primary">Primary</button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <p>2r1c</p>
      <button type="button" class="btn btn-primary">Primary</button>
    </div>
    <div class="col-lg-4">
      <p>2r2c</p>
      <button type="button" class="btn btn-primary">Primary</button>
    </div>
    <div class="col-lg-4">
      <p>2r3c</p>
      <button type="button" class="btn btn-primary">Primary</button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <p>3r1c</p>
      <button type="button" class="btn btn-primary">Primary</button>
    </div>
    <div class="col-lg-4">
      <p>3r2c</p>
      <button type="button" class="btn btn-primary">Primary</button>
    </div>
    <div class="col-lg-4">
      <p>3r3c</p>
      <button type="button" class="btn btn-primary">Primary</button>
    </div>
  </div>
</div>
