<div class="container">

    <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <p>Click this<button type="button" class="btn btn-primary">Button!</button></p>
    </div>
    <div class="col-lg-4">
      <p>Click this<button type="button" class="btn btn-primary">Button!</button></p>
    </div>
    <div class="col-lg-4">
      <p>Click this<button type="button" class="btn btn-primary">Button!</button></p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <p>Click this<button type="button" class="btn btn-primary">Button!</button></p>
    </div>
    <div class="col-lg-4">
      <p>Click this<button type="button" class="btn btn-primary">Button!</button></p>
    </div>
    <div class="col-lg-4">
      <p>Click this<button type="button" class="btn btn-primary">Button!</button></p>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-4">
      <p>Click this<button type="button" class="btn btn-primary">Button!</button></p>
    </div>
    <div class="col-lg-4">
      <p>Click this<button type="button" class="btn btn-primary">Button!</button></p>
    </div>
    <div class="col-lg-4">
      <p>Click this<button type="button" class="btn btn-primary">Button!</button></p>
    </div>
  </div>


</div>
