<div class="row">
  <div class="col-lg-4">
    <p>some text <button class="btn btn-default" type="submit">a button</button></p>
  </div>
  <div class="col-lg-4">
    <p>some text <button class="btn btn-default" type="submit">a button</button></p>
  </div>
  <div class="col-lg-4">
    <p>some text <button class="btn btn-default" type="submit">a button</button></p>
  </div>
</div>
<div class="row">
  <div class="col-lg-4">
    <p>some text <button class="btn btn-default" type="submit">a button</button></p>
  </div>
  <div class="col-lg-4">
    <p>some text <button class="btn btn-default" type="submit">a button</button></p>
  </div>
  <div class="col-lg-4">
    <p>some text <button class="btn btn-default" type="submit">a button</button></p>
  </div>
</div>
<div class="row">
  <div class="col-lg-4">
    <p>some text <button class="btn btn-default" type="submit">a button</button></p>
  </div>
  <div class="col-lg-4">
    <p>some text <button class="btn btn-default" type="submit">a button</button></p>
  </div>
  <div class="col-lg-4">
    <p>some text <button class="btn btn-default" type="submit">a button</button></p>
  </div>
</div>


In each column, add a <p> tag with some text and a Bootstrap button.


Also inside of the container element, create a navigation bar with 3 links, 
Home, About, Contact. 
Set the href attribute of each to #.