<div class="row">
  <div class= "col-lg-4">
    <p>Stuff!</p>
    <button class="btn btn-primary">Button</button>
  </div>
  <div class= "col-lg-4">
    <p>Stuff!</p>
    <button class="btn btn-primary">Button</button>
  </div>

  <div class= "col-lg-4">
    <p>Stuff!</p>
    <button class="btn btn-primary">Button</button>
  </div>
</div>
<div class="row">

  <div class= "col-lg-4">
    <p>Stuff!</p>
    <button class="btn btn-success">Button</button>
  </div>

  <div class= "col-lg-4">
    <p>Stuff!</p>
    <button class="btn btn-success">Button</button>
  </div>

  <div class= "col-lg-4">
    <p>Stuff!</p>
    <button class="btn btn-success">Button</button>
  </div>

</div>
<div class="row">

  <div class= "col-lg-4">
    <p>Stuff!</p>
    <button class="btn btn-warning">Button</button>
  </div>

  <div class= "col-lg-4">
    <p>Stuff!</p>
    <button class="btn btn-warning">Button</button>
  </div>

  <div class= "col-lg-4">
    <p>Stuff!</p>
    <button class="btn btn-warning">Button</button>
  </div>

</div>
