<div class="container">
    <nav>
        <ul class="navbar-nav nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
    
    <div class="row">
        <div class="col-lg-4 ">
            <button type="button" class="btn btn-primary">Top</button>
            <p>Left</p>
        </div>
        
        <div class="col-lg-4 ">
            <button type="button" class="btn btn-primary">Top</button>
            <p>Center</p>
        </div>
        
        <div class="col-lg-4">
            <button type="button" class="btn btn-primary">Top</button>
            <p>Right</p>
        </div>
   </div>

   <div class="row">
        <div class="col-lg-4 ">
            <button type="button" class="btn btn-primary">Center</button>
            <p>Left</p>
        </div>
        
        <div class="col-lg-4 ">
            <button type="button" class="btn btn-primary">Center</button>
            <p>Center</p>
        </div>
        
        <div class="col-lg-4">
            <button type="button" class="btn btn-primary">Center</button>
            <p>Right</p>
        </div>
   </div>

   <div class="row">
        <div class="col-lg-4 ">
            <button type="button" class="btn btn-primary">Bottom</button>
            <p>Left</p>
        </div>
        
        <div class="col-lg-4 ">
            <button type="button" class="btn btn-primary">Bottom</button>
            <p>Center</p>
        </div>
        
        <div class="col-lg-4">
            <button type="button" class="btn btn-primary">Bottom</button>
            <p>Right</p>
        </div>
   </div>
 </div>