<div class="row">
  <div class="col-lg-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa incidunt ut expedita et ab consequuntur illo minima at voluptatum magnam numquam rem, vitae, nulla repellat tempora aut totam alias. Assumenda.</p>
    <button class="btn btn-default" type="submit">Button</button>
  </div>
  <div class="col-lg-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum similique sed, in repellat facere expedita ratione. Suscipit, alias. Sint fuga at reprehenderit labore alias consectetur quisquam provident facilis cumque illo!</p>
    <button class="btn btn-default" type="submit">Button</button>
  </div>
  <div class="col-lg-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum pariatur consequatur dignissimos debitis error velit reiciendis natus, quam facere quos, fugit nulla asperiores quisquam consequuntur minus ut blanditiis doloribus sint?</p>
    <button class="btn btn-default" type="submit">Button</button>
  </div>
</div>
<div class="row">
  <div class="col-lg-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae molestias enim eos, quam dolore, ipsam saepe vel quas tempora, ratione laudantium asperiores sit dolor culpa necessitatibus nemo architecto aliquid cumque.</p>
    <button class="btn btn-default" type="submit">Button</button>
  </div>
  <div class="col-lg-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum qui nam consectetur amet quasi vitae culpa beatae architecto nulla assumenda non molestias sequi labore dicta, cupiditate voluptatem, iusto doloremque quo.</p>
    <button class="btn btn-default" type="submit">Button</button>
  </div>
  <div class="col-lg-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut magni, id inventore. Ipsam consequatur perferendis et dolorum autem numquam sapiente beatae rem quod explicabo, architecto natus ea repudiandae, ad sunt?</p>
    <button class="btn btn-default" type="submit">Button</button>
  </div>
</div>
<div class="row">
  <div class="col-lg-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa nisi ipsa ad atque. Consequuntur reiciendis temporibus, corrupti sunt modi officiis beatae commodi recusandae, hic, suscipit dolores natus asperiores cupiditate eius.</p>
    <button class="btn btn-default" type="submit">Button</button>
  </div>
  <div class="col-lg-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod minus, nemo! Cumque voluptate magnam enim magni porro sapiente rem, totam deleniti inventore molestiae hic saepe, maiores fuga officiis, tenetur libero.</p>
    <button class="btn btn-default" type="submit">Button</button>
  </div>
  <div class="col-lg-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et ea aspernatur voluptatem quaerat, ducimus, pariatur enim voluptatum quos alias minus eum. Dolorum labore, eos, quos obcaecati voluptatumquasi saepe porro?</p>
    <button class="btn btn-default" type="submit">Button</button>
  </div>
</div>