

<div class='container'>

  <ul class="nav navbar-nav">
    <div class="container">
      <li><a href=#>Home</a></li>
      <li><a href=#>About</a></li>
      <li><a href=#>Contact</a></li>
    </div>
  </ul>

  <div class='row'>
    <div class='col-lg-4'>
      <p>Hey!</p>
      <button class="btn btn-default" type="submit">Button</button>
    </div>
    <div class='col-lg-4'>
      <p>Hey!</p>
      <button class="btn btn-default" type="submit">Button</button>
    </div>
    <div class='col-lg-4'>
      <p>Hey!</p>
      <button class="btn btn-default" type="submit">Button</button>
    </div>
  </div>

  <div class='row'>
    <div class='col-lg-4'>
      <p>Hey!</p>
      <button class="btn btn-default" type="submit">Button</button>
    </div>
    <div class='col-lg-4'>
      <p>Hey!</p>
      <button class="btn btn-default" type="submit">Button</button>
    </div>
    <div class='col-lg-4'>
      <p>Hey!</p>
      <button class="btn btn-default" type="submit">Button</button>
    </div>
  </div>


  <div class='row'>
    <div class='col-lg-4'>
      <p>Hey!</p>
      <button class="btn btn-default" type="submit">Button</button>
    </div>
    <div class='col-lg-4'>
      <p>Hey!</p>
      <button class="btn btn-default" type="submit">Button</button>
    </div>
    <div class='col-lg-4'>
      <p>Hey!</p>
      <button class="btn btn-default" type="submit">Button</button>
    </div>
  </div>

</div>
