<div class="container">
  <nav class="navbar navbar-default">
     <ul class="nav navbar-nav">
       <li><a href="#">Home</a></li>
       <li><a href="#">About</a></li>
       <li><a href="#">Contact</a></li>
     </ul>
  </nav>
  
  <div class="row">
    <div class="col-lg-4">
      <p>This is some text.</p>
      <button type="button" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Button
      </button>
    </div>
    <div class="col-lg-4">
      <p>This is some text.</p>
      <button type="button" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Button
      </button>
    </div>
    <div class="col-lg-4">
      <p>This is some text.</p>
      <button type="button" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Button
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <p>This is some text.</p>
      <button type="button" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Button
      </button>
    </div>
    <div class="col-lg-4">
      <p>This is some text.</p>
      <button type="button" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Button
      </button>
    </div>
    <div class="col-lg-4">
      <p>This is some text.</p>
      <button type="button" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Button
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <p>This is some text.</p>
      <button type="button" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Button
      </button>
    </div>
    <div class="col-lg-4">
      <p>This is some text.</p>
      <button type="button" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Button
      </button>
    </div>
    <div class="col-lg-4">
      <p>This is some text.</p>
      <button type="button" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Button
      </button>
    </div>
  </div>
</div>
