<div class=“container”>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li> 
      <li><a href="#">Contact</a></li> 
    </ul>
  </div>
</nav>

<div class="row">
<div class=“col-lg-4”>
  <p><b>This text is bold</b></p>
<button type="button" class="btn btn-primary">One</button>
</div>
</div>
<div class="row">
<div class=“col-lg-4”>
  <p><i>This text is italic</i></p>
<button type="button" class="btn btn-primary">Two</button>
</div>
</div>
<div class="row">
<div class=“col-lg-4”>
  <p><b>This text is bold</b></p>
<button type="button" class="btn btn-primary">Three</button>
</div>
</div>

</div>