<div class='row'>
    <div class='col-lg-4'>
        <p>
            Some text
            <button class='btn btn-default'>Bootstrap Button</button>
        </p>
    </div>
    <div class='col-lg-4'>
        <p>
            Some text
            <button class='btn btn-default'>Bootstrap Button</button>
        </p>
    </div>
    <div class='col-lg-4'>
        <p>
            Some text
            <button class='btn btn-default'>Bootstrap Button</button>
        </p>
    </div>
</div>
<div class='row'>
    <div class='col-lg-4'>
        <p>
            Some text
            <button class='btn btn-default'>Bootstrap Button</button>
        </p>
    </div>
    <div class='col-lg-4'>
        <p>
            Some text
            <button class='btn btn-default'>Bootstrap Button</button>
        </p>
    </div>
    <div class='col-lg-4'>
        <p>
            Some text
            <button class='btn btn-default'>Bootstrap Button</button>
        </p>
    </div>
</div>
<div class='row'>
    <div class='col-lg-4'>
        <p>
            Some text
            <button class='btn btn-default'>Bootstrap Button</button>
        </p>
    </div>
    <div class='col-lg-4'>
        <p>
            Some text
            <button class='btn btn-default'>Bootstrap Button</button>
        </p>
    </div>
    <div class='col-lg-4'>
        <p>
            Some text
            <button class='btn btn-default'>Bootstrap Button</button>
        </p>
    </div>
</div>