<body>
   <div class="container">
     <ul class="nav navbar-nav">
       <li><a href="#">Home</a></li>
       <li><a href="#">About</a></li>
       <li><a href="#">Contact</a></li>
     </ul>
     <div class="row">
       <div class="col-lg-4"><p>
         <button type="button" class="btn">Default</button>
       </p></div>
       <div class="col-lg-4"><p>
         <button type="button" class="btn">Default</button>
       </p></div>
       <div class="col-lg-4"><p>
         <button type="button" class="btn">Default</button>
       </p></div>
     </div>
     <div class="row">
       <div class="col-lg-4"><p>
         <button type="button" class="btn">Default</button>
       </p></div>
       <div class="col-lg-4"><p>
         <button type="button" class="btn">Default</button>
       </p></div>
       <div class="col-lg-4"><p>
         <button type="button" class="btn">Default</button>
       </p></div>
     </div>
     <div class="row">
       <div class="col-lg-4"><p>
         <button type="button" class="btn">Default</button>
       </p></div>
       <div class="col-lg-4"><p>
         <button type="button" class="btn">Default</button>
       </p></div>
       <div class="col-lg-4"><p>
         <button type="button" class="btn">Default</button>
       </p></div>
   </div>
 </body>
