<div class="container">
  <div>
    <ul class="nav navbar-nav">
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <p>Text</p>
      <a class="btn" href="#">BootStrap</a>
    </div>
    <div class="col-lg-4">
      <p>Text</p>
      <a class="btn" href="#">BootStrap</a>
    </div>
    <div class="col-lg-4">
      <p>Text</p>
      <a class="btn" href="#">BootStrap</a>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <p>Text</p>
      <a class="btn" href="#">BootStrap</a>
    </div>
    <div class="col-lg-4">
      <p>Text</p>
      <a class="btn" href="#">BootStrap</a>
    </div>
    <div class="col-lg-4">
      <p>Text</p>
      <a class="btn" href="#">BootStrap</a>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <p>Text</p>
      <a class="btn" href="#">BootStrap</a>
    </div>
    <div class="col-lg-4">
      <p>Text</p>
      <a class="btn" href="#">BootStrap</a>
    </div>
    <div class="col-lg-4">
      <p>Text</p>
      <a class="btn" href="#">BootStrap</a>
    </div>
  </div>
</div>
