<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <p>Hello</p>
      <button type="button" class="btn btn-default">button</button>
    </div>

    <div class="col-lg-4">
      <p>Hi</p>
      <button type="button" class="btn btn-default">button</button>
    </div>
    
    <div class="col-lg-4">
      <p>Hey</p>
      <button type="button" class="btn btn-default">button</button>
    </div> 
  </div>

  <div class="row">
    <div class="col-lg-4">
      <p>Ruby</p>
      <button type="button" class="btn btn-default">button</button>
    </div>

    <div class="col-lg-4">
      <p>is</p>
      <button type="button" class="btn btn-default">button</button>
    </div>
    
    <div class="col-lg-4">
      <p>awesome</p>
      <button type="button" class="btn btn-default">button</button>
    </div> 
  </div>

  <div class="row">
    <div class="col-lg-4">
      <p>and</p>
      <button type="button" class="btn btn-default">button</button>
    </div>

    <div class="col-lg-4">
      <p>JS</p>
      <button type="button" class="btn btn-default">button</button>
    </div>
    
    <div class="col-lg-4">
      <p>too!</p>
      <button type="button" class="btn btn-default">button</button>
    </div> 

  </div>
</div>