<div class="container">
  <nav>
    <ul class="nav navbar-nav">
      <li href="#">Home</li>
      <li href="#">About</li>
      <li href="#">Contact</li>
    </ul>
  </nav>
  <div class="row">
    <div class="col-lg-4">
      <p>Column #1</p>
      <a href="#" class="btn btn-default">1</p>
    </div>
    <div class="col-lg-4">
      <p>Column #2</p>
      <a href="#" class="btn btn-default">2</p>
    </div>
    <div class="col-lg-4">
      <p>Column #3</p>
      <a href="#" class="btn btn-default">3</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <p>Column #1</p>
      <a href="#" class="btn btn-default">1</p>
    </div>
    <div class="col-lg-4">
      <p>Column #2</p>
      <a href="#" class="btn btn-default">2</p>
    </div>
    <div class="col-lg-4">
      <p>Column #3</p>
      <a href="#" class="btn btn-default">3</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <p>Column #1</p>
      <a href="#" class="btn btn-default">1</p>
    </div>
    <div class="col-lg-4">
      <p>Column #2</p>
      <a href="#" class="btn btn-default">2</p>
    </div>
    <div class="col-lg-4">
      <p>Column #3</p>
      <a href="#" class="btn btn-default">3</p>
    </div>
  </div>
</div>
