<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <p>Click this for more info! <button class="btn">CLICK ME!</button></p>
    </div>
    <div class="col-lg-4">
      <p>Click this for more info! <button class="btn">CLICK ME!</button></p>
    </div>
    <div class="col-lg-4">
      <p>Click this for more info! <button class="btn">CLICK ME!</button></p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <p>Click this for more info! <button class="btn">CLICK ME!</button></p>
    </div>
    <div class="col-lg-4">
      <p>Click this for more info! <button class="btn">CLICK ME!</button></p>
    </div>
    <div class="col-lg-4">
      <p>Click this for more info! <button class="btn">CLICK ME!</button></p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <p>Click this for more info! <button class="btn">CLICK ME!</button></p>
    </div>
    <div class="col-lg-4">
      <p>Click this for more info! <button class="btn">CLICK ME!</button></p>
    </div>
    <div class="col-lg-4">
      <p>Click this for more info! <button class="btn">CLICK ME!</button></p>
    </div>
  </div>

</div>
