<div class="container">
  <nav class="navbar">
    <ul class="nav navbar-nav">
      <li><a href="#" class="nav">Home</a></li>
      <li><a href="#" class="nav">About</a></li>
      <li><a href="#" class="nav">Contact</a></li>
    </ul>
  </nav>
  <div class="row">
    <div class="col-lg-4">
      <p>Bob Lob Law</p><button class="btn">TIME</button>
    </div>
    <div class="col-lg-4">
      <p>Bob Lob Law</p><button class="btn">TIME</button>
    </div>
    <div class="col-lg-4">
      <p>Bob Lob Law</p><button class="btn">TIME</button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <p>Bob Lob Law</p><button class="btn">TIME</button>
    </div>
    <div class="col-lg-4">
      <p>Bob Lob Law</p><button class="btn">TIME</button>
    </div>
    <div class="col-lg-4">
      <p>Bob Lob Law</p><button class="btn">TIME</button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <p>Bob Lob Law</p><button class="btn">TIME</button>
    </div>
    <div class="col-lg-4">
      <p>Bob Lob Law</p><button class="btn">TIME</button>
    </div>
    <div class="col-lg-4">
      <p>Bob Lob Law</p><button class="btn">TIME</button>
    </div>
  </div>
</div>
