<div class="container">
  <div>
    <ul class="nav navbar-nav">
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
</div>
  <div class="row">
    <div class="col-lg-4">
      <p>
        <a href="#" class='btn'>first col</a>
      </p>
    </div>
    <div class="col-lg-4">
      <p>
        <a href="#" class='btn'>second col</a>
      </p>
    </div>
    <div class="col-lg-4">
      <p>
        <a href="#" class='btn'>third col</a>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <p>
        <a href="#" class='btn'>fourth col</a>
      </p>
    </div>
    <div class="col-lg-4">
      <p>
        <a href="#" class='btn'>fifth col</a>
      </p>
    </div>
    <div class="col-lg-4">
      <p>
        <a href="#" class='btn'>sixth col</a>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <p>
        <a href="#" class='btn'>seventh col</a>
      </p>
    </div>
    <div class="col-lg-4">
      <p>
        <a href="#" class='btn'>eigth col</a>
      </p>
    </div>
    <div class="col-lg-4">
      <p>
        <a href="#" class='btn'>ninth col</a>
      </p>
    </div>
  </div>
</div>
