<div class="row">
  <div class="col-lg-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <button class="btn btn-default" type="submit">Button</button>
  </div>
  <div class="col-lg-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <button class="btn btn-default" type="submit">Button</button>
  </div>
  <div class="col-lg-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <button class="btn btn-default" type="submit">Button</button>
  </div>
</div>
<div class="row">
  <div class="col-lg-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <button class="btn btn-default" type="submit">Button</button>
  </div>
  <div class="col-lg-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <button class="btn btn-default" type="submit">Button</button>
  </div>
  <div class="col-lg-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <button class="btn btn-default" type="submit">Button</button>
  </div>
</div>
<div class="row">
  <div class="col-lg-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <button class="btn btn-default" type="submit">Button</button>
  </div>
  <div class="col-lg-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <button class="btn btn-default" type="submit">Button</button>
  </div>
  <div class="col-lg-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <button class="btn btn-default" type="submit">Button</button>
  </div>
</div>
