<div class="container">

<ul class="nav navbar-nav">
  <!-- <nav class="navbar-nav" style="background-color: #e3f2fd;"> -->
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
  </nav>
</ul>


  <div class="row">
    <div class="col-lg-4">
      <p>Bootstrap 1</p>
      <button type="button" class="btn btn-primary">Button</button>
    </div>
    <div class="col-lg-4">
      <p>Bootstrap 2</p>
      <button type="button" class="btn btn-primary">Button</button>
    </div>
    <div class="col-lg-4">
      <p>Bootstrap 2</p>
      <button type="button" class="btn btn-primary">Button</button>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <p>Bootstrap 1</p>
      <button type="button" class="btn btn-primary">Button</button>
    </div>
    <div class="col-lg-4">
      <p>Bootstrap 2</p>
      <button type="button" class="btn btn-primary">Button</button>
    </div>
    <div class="col-lg-4">
      <p>Bootstrap 2</p>
      <button type="button" class="btn btn-primary">Button</button>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <p>Bootstrap 1</p>
      <button type="button" class="btn btn-primary">Button</button>
    </div>
    <div class="col-lg-4">
      <p>Bootstrap 2</p>
      <button type="button" class="btn btn-primary">Button</button>
    </div>
    <div class="col-lg-4">
      <p>Bootstrap 2</p>
      <button type="button" class="btn btn-primary">Button</button>
    </div>
  </div>

</div>
