
<div class="container">

  <ul class="nav navbar-nav">
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
  </ul>

  <div class="row">
    <div class="col-lg-4">
      <p>Press this:<button type="button" class="btn">This</button></p>
    </div>
    <div class="col-lg-4">
      <p>Press that:<button type="button" class="btn">That</button></p>
    </div>
    <div class="col-lg-4">
      <p>Press again:<button type="button" class="btn">Again</button></p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <p>Press this:<button type="button" class="btn">This</button></p>
    </div>
    <div class="col-lg-4">
      <p>Press that:<button type="button" class="btn">That</button></p>
    </div>
    <div class="col-lg-4">
      <p>Press again:<button type="button" class="btn">Again</button></p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <p>Press this:<button type="button" class="btn">This</button></p>
    </div>
    <div class="col-lg-4">
      <p>Press that:<button type="button" class="btn">That</button></p>
    </div>
    <div class="col-lg-4">
      <p>Press again:<button type="button" class="btn">Again</button></p>
    </div>
  </div>


</div>
