<div class="container">

<div class="row">
  <div class="col-lg-4">
    <p>
      A tree cannot be straight if it has a crooked trunk. Pretend you're water. Just floating without any effort. Having a good day. You create the dream - then you bring it into your world.
      <button type="button" class="btn btn-block btn-primary" name="button">HELLO</button>
    </p>
  </div>
  <div class="col-lg-4">
    <p>
      You better get your coat out, this is going to be a cold painting. What the devil. Look around, look at what we have. Beauty is everywhere, you only have to look to see it. This is gonna be a happy little seascape.
      <button type="button" class="btn btn-block btn-info" name="button">button</button>
    </p>
  </div>
  <div class="col-lg-4">
    <p>
      If you don't think every day is a good day - try missing a few. You'll see. These things happen automatically. All you have to do is just let them happen. We don't really know where this goes - and I'm not sure we really care. This is the time to get out all your flustrations, much better than kicking the dog around the house or taking it out on your spouse.
      <button type="button" class="btn btn-block btn-warning" name="button">makin</button>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-lg-4">
    <p>
      Let's get crazy. I will take some magic white, and a little bit of Vandyke brown and a little touch of yellow. Only think about one thing at a time. Don't get greedy. And I know you're saying, 'Oh Bob, you've done it this time.' And you may be right.
      <button type="button" class="btn btn-block active" name="button">bob</button>
    </p>
  </div>
  <div class="col-lg-4">
    <p>
      When you do it your way you can go anywhere you choose. I'll go over the colors one more time that we use: Titanium white, Thalo green, Prussian blue, Van Dyke brown, Alizarin crimson, Sap green, Cad yellow, and Permanent red. Every highlight needs it's own personal shadow.
      <button type="button" class="btn btn-block btn-danger" name="button">is</button>
    </p>
  </div>
  <div class="col-lg-4">
    <p>
      La- da- da- da- dah. Just be happy. I spend a lot of time walking around in the woods and talking to trees, and squirrels, and little rabbits and stuff.
      <button type="button" class="btn btn-block btn-warning" name="button">best</button>
    </p>
  </div>
</div>


<div class="row">
  <div class="col-lg-4">
    <p>
      Now we can begin working on lots of happy little things. We must be quiet, soft and gentle. This is the fun part This is gonna be a happy little seascape. There comes a nice little fluffer. Happy painting, God bless.
      <button type="button" class="btn btn-block btn-primary" name="button">HELLO</button>
    </p>
  </div>
  <div class="col-lg-4">
    <p>
      This piece of canvas is your world. When you do it your way you can go anywhere you choose. In your world you have total and absolute power.
      <button type="button" class="btn btn-block btn-success" name="button">bob</button>
    </p>
  </div>
  <div class="col-lg-4">
    <p>
      Look around, look at what we have. Beauty is everywhere, you only have to look to see it. In painting, you have unlimited power. You have the ability to move mountains. You can bend rivers. But when I get home, the only thing I have power over is the garbage. La- da- da- da- dah. Just be happy. I thought today we would do a happy little picture. Isn't that fantastic? We don't have anything but happy trees here.
      <button type="button" class="btn btn-block btn-default" name="button">makin</button>
    </p>
  </div>
</div>
</div>
