<div class="container">
  <ul class="nav navbar-nav">
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
  <div class="row">
    <div class="col-lg-4">
      <p>Some text and a <span class="btn">Bootstrap button</span></p>
    </div>
    <div class="col-lg-4">
      <p>Some text and a <span class="btn">Bootstrap button</span></p>
    </div>
    <div class="col-lg-4">
      <p>Some text and a <span class="btn">Bootstrap button</span></p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <p>Some text and a <span class="btn">Bootstrap button</span></p>
    </div>
    <div class="col-lg-4">
      <p>Some text and a <span class="btn">Bootstrap button</span></p>
    </div>
    <div class="col-lg-4">
      <p>Some text and a <span class="btn">Bootstrap button</span></p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <p>Some text and a <span class="btn">Bootstrap button</span></p>
    </div>
    <div class="col-lg-4">
      <p>Some text and a <span class="btn">Bootstrap button</span></p>
    </div>
    <div class="col-lg-4">
      <p>Some text and a <span class="btn">Bootstrap button</span></p>
    </div>
  </div>
</div>
