<div class="container">

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">WebSiteName</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </nav>

  <div class="row">
    <div class="col-lg-4">
      <p> Hello this #1 row </p>
      <button type="button" class="btn btn-primary">My name is Button X</button>
    </div>
    <div class="col-lg-4">
      <p> Hello this #1 row </p>
      <button type="button" class="btn btn-primary">My name is Button X</button>
    </div>
    <div class="col-lg-4">
      <p> Hello this #1 row </p>
      <button type="button" class="btn btn-primary">My name is Button X</button>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <p> Hello this #2 row </p>
      <button type="button" class="btn btn-primary">My name is Button Tizio</button>
    </div>
    <div class="col-lg-4">
      <p> Hello this #2 row </p>
      <button type="button" class="btn btn-primary">My name is Button Tizio</button>
    </div>
    <div class="col-lg-4">
      <p> Hello this #2 row </p>
      <button type="button" class="btn btn-primary">My name is Button Tizio</button>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <p> Hello this #3 row </p>
      <button type="button" class="btn btn-primary">My name is Button P</button>
    </div>
    <div class="col-lg-4">
      <p> Hello this #3 row </p>
      <button type="button" class="btn btn-primary">My name is Button P</button>
    </div>
    <div class="col-lg-4">
      <p> Hello this #3 row </p>
      <button type="button" class="btn btn-primary">My name is Button P</button>
    </div>
  </div>

</div>
