<body>
   <div class="container">
     <nav class="navbar navbar-expand-lg navbar-light bg-light">
       <ul class="nav navbar-nav">
         <li class="nav-item">
           <a class="nav-link disabled" href="#">Home</a>
         </li>
         <li class="nav-item">
           <a class="nav-link disabled" href="#">About</a>
         </li>
         <li class="nav-item">
           <a class="nav-link disabled" href="#">Contact</a>
         </li>
       </ul>
     </nav>
     <div class="row">
       <div class="col-lg-4">
         <p class="btn">Button!</p>
       </div>
       <div class="col-lg-4">
         <p class="btn">Button!</p>
       </div>
       <div class="col-lg-4">
         <p class="btn">Button!</p>
       </div>
     </div>
     <div class="row">
       <div class="col-lg-4">
         <p class="btn">Button!</p>
       </div>
       <div class="col-lg-4">
         <p class="btn">Button!</p>
       </div>
       <div class="col-lg-4">
         <p class="btn">Button!</p>
       </div>
     </div>
     <div class="row">
       <div class="col-lg-4">
         <p class="btn">Button!</p>
       </div>
       <div class="col-lg-4">
         <p class="btn">Button!</p>
       </div>
       <div class="col-lg-4">
         <p class="btn">Button!</p>
       </div>
     </div>
   </div>
 </body>
