	<div class= "container">
		<div class= "row">
			<div class="col-lg-4"><p> Home1 </p> <a class="btn" href="#">Button</a></div>
			<div class="col-lg-4"><p> Home2 </p> <a class="btn" href="#">Button</a></div>
			<div class="col-lg-4"><p> Home3 </p> <a class="btn" href="#">Button</a></div>
		
		<div class= "row">
			<div class= "col-lg-4"><p>About1</p><a class="btn" href="#">Button</a></div>
			<div class= "col-lg-4"><p>About2</p><a class="btn" href="#">Button</a></div>
			<div class= "col-lg-4"><p>About3</p><a class="btn" href="#">Button</a></div>

			
		<div class= "row">
			<div class= "col-lg-4"><p>Contact1</p><a class="btn" href="#">Button</a></div>
			<div class= "col-lg-4"><p>Contact2</p><a class="btn" href="#">Button</a></div>
			<div class= "col-lg-4"><p>Contact3</p><a class="btn" href="#">Button</a></div>
			</div>
		</div>
	</div>
