<div class="container">

  <div class="row">
    <div class="col-lg-4">
      <p>Here is some stuff. Also, there's a <button class="btn" type="button" name="button">Button.</button> </p>
    </div>
    <div class="col-lg-4">
      <p>Here is some stuff. Also, there's a <button class="btn" type="button" name="button">Button.</button> </p>
    </div>
    <div class="col-lg-4">
      <p>Here is some stuff. Also, there's a <button class="btn" type="button" name="button">Button.</button> </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <p>Here is some stuff. Also, there's a <button class="btn" type="button" name="button">Button.</button> </p>
    </div>
    <div class="col-lg-4">
      <p>Here is some stuff. Also, there's a <button class="btn" type="button" name="button">Button.</button> </p>
    </div>
    <div class="col-lg-4">
      <p>Here is some stuff. Also, there's a <button class="btn" type="button" name="button">Button.</button> </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <p>Here is some stuff. Also, there's a <button class="btn" type="button" name="button">Button.</button> </p>
    </div>
    <div class="col-lg-4">
      <p>Here is some stuff. Also, there's a <button class="btn" type="button" name="button">Button.</button> </p>
    </div>
    <div class="col-lg-4">
      <p>Here is some stuff. Also, there's a <button class="btn" type="button" name="button">Button.</button> </p>
    </div>
  </div>
</div>
