<div class="container">
    <ul class="nav navbar-nav">
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
    <div class="row" >
      <div class="col-lg-4">
        <p class="btn btn-success"> row 1</p>
      </div>
      <div class="col-lg-4">
        <p class="btn btn-success"> row 2</p>
      </div>
      <div class="col-lg-4">
        <p class="btn btn-success"> row 3</p>
      </div>
    </div>
    <div class="row" >
      <div class="col-lg-4">
        <p class="btn btn-success"> row 4</p>
      </div>
      <div class="col-lg-4">
        <p class="btn btn-success"> row 5</p>
      </div>
      <div class="col-lg-4">
        <p class="btn btn-success"> row 6</p>
      </div>
    </div>
    <div class="row" >
      <div class="col-lg-4">
        <p class="btn btn-success"> row 7</p>
      </div>
      <div class="col-lg-4">
        <p class="btn btn-success"> row 8</p>
      </div>
      <div class="col-lg-4">
        <p class="btn btn-success"> row 9</p>
      </div>
    </div>

</div>