<div class="container">
    <ul class="nav navbar-nav">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
    <div class="row">
        <div class="col-lg-4">
            <p>Jingle</p>
            <button class="btn btn-default" type="submit">Button</button>
        </div>
        <div class="col-lg-4">
            <p>Bells</p>
            <button class="btn btn-default" type="submit">Button</button>
        </div>
        <div class="col-lg-4">
            <p>Jingle</p>
            <button class="btn btn-default" type="submit">Button</button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <p>Bells</p>
            <button class="btn btn-default" type="submit">Button</button>
        </div>
        <div class="col-lg-4">
            <p>Jingle</p>
            <button class="btn btn-default" type="submit">Button</button>
        </div>
        <div class="col-lg-4">
            <p>All</p>
            <button class="btn btn-default" type="submit">Button</button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <p>The</p>
            <button class="btn btn-default" type="submit">Button</button>
        </div>
        <div class="col-lg-4">
            <p>Way</p>
            <button class="btn btn-default" type="submit">Button</button>
        </div>
        <div class="col-lg-4">
            <p>Hohoho</p>
            <button class="btn btn-default" type="submit">Button</button>
        </div>
    </div>
</div>