<ul class="nav navbar-nav">
<center>  
  <li>
    <a href="/contact"> Contact </a>
  </li>

  <li>
    <a href="/home"> Home </a>
  </li>

  <li>
    <a href="/about"> About </a>
  </li>
</center>

</ul>
