<!DOCTYPE html>
<html>
<head>
  <title>Application Layout</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>
  <ul class="nav navbar-nav">
    <li>Home</li>
    <li>About</li>
    <li>Contact</li>
  </ul><br>
<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <p>Click me if you want to live</p>
      <button class="btn btn-primary" type="submit">Button</button>
    </div>
    <div class="col-lg-4">
      <p>Do you want to build a snowman?</p>
      <button class="btn btn-primary" type="submit">Button</button>
    </div>
    <div class="col-lg-4">
      <p>Tsk Tsk</p>
      <button class="btn btn-primary" type="submit">Button</button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <p>Now what do we have under here?</p>
      <button class="btn btn-primary" type="submit">Button</button>
    </div>
    <div class="col-lg-4">
      <p>Jet fuel can't melt steel beams</p>
      <button class="btn btn-primary" type="submit">Button</button>
    </div>
    <div class="col-lg-4">
      <p>Ask anyone, I make the best layouts</p>
      <button class="btn btn-primary" type="submit">Button</button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <p>Here's you, here's me</p>
      <button class="btn btn-primary" type="submit">Button</button>
    </div>
    <div class="col-lg-4">
      <p>There's you, there's me</p>
      <button class="btn btn-primary" type="submit">Button</button>
    </div>
    <div class="col-lg-4">
      <p>Da Bulls</p>
      <button class="btn btn-primary" type="submit">Button</button>
    </div>
  </div>
<%= yield %>
<%= javascript_include_tag "application" %>
</body>
</html>
