<!DOCTYPE html>
<html>
<head>
  <title>Application Layout</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>
	<div class="container">
		<ul class="nav navbar-nav">
			<li href="#">Home</li>
			<li href="#">About</li>
			<li href="#">Contact</li>
		</ul>
		<div class="row">
			<div class="col-lg-4">
				<p>"Hello"</p>
				<button type="button" class="btn btn-primary">Primary</button>
			</div>
			<div class="col-lg-4">
				<p>"How are you?"</p>
				<button type="button" class="btn btn-primary">Primary</button>
			</div>
			<div class="col-lg-4">
				<p>"I'm doing well."</p>
				<button type="button" class="btn btn-primary">Primary</button>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4">
				<p>When do you get off work?</p>
				<button type="button" class="btn btn-primary">Primary</button>
			</div>
			<div class="col-lg-4">
				<p>I get off work at 6PM</p>
				<button type="button" class="btn btn-primary">Primary</button>
			</div>
			<div class="col-lg-4">
				<p>Cool!</p>
				<button type="button" class="btn btn-primary">Primary</button>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4">
				<p>Let's get dinner.</p>
				<button type="button" class="btn btn-primary">Primary</button>
			</div>
			<div class="col-lg-4">
				<p>Where at?</p>
				<button type="button" class="btn btn-primary">Primary</button>
			</div>
			<div class="col-lg-4">
				<p>How about Applebee's</p>
				<button type="button" class="btn btn-primary">Primary</button>
			</div>
		</div>
	</div>

<%= yield %>
<%= javascript_include_tag "application" %>
</body>
</html>
