<!DOCTYPE html>
<html>
<head>
  <title>Application Layout</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">bootstrap-sass</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    <div class="row">
      <div class="col-lg-4">
        <p>One</p>
        <button type="button" class="btn btn-primary">One</button>
      </div>
      <div class="col-lg-4">
        <p>Two</p>
        <button type="button" class="btn btn-primary">Two</button>
      </div>
      <div class="col-lg-4">
        <p>Three</p>
        <button type="button" class="btn btn-primary">Three</button>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <p>Four</p>
        <button type="button" class="btn btn-primary">Four</button>
      </div>
      <div class="col-lg-4">
        <p>Five</p>
        <button type="button" class="btn btn-primary">Five</button>
      </div>
      <div class="col-lg-4">
        <p>Six</p>
        <button type="button" class="btn btn-primary">Six</button>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <p>Seven</p>
        <button type="button" class="btn btn-primary">Seven</button>
      </div>
      <div class="col-lg-4">
        <p>Eight</p>
        <button type="button" class="btn btn-primary">Eight</button>
      </div>
      <div class="col-lg-4">
        <p>Nine</p>
        <button type="button" class="btn btn-primary">Nine</button>
      </div>
    </div>
  </div>
<%= yield %>
<%= javascript_include_tag "application" %>
</body>
</html>
