<!DOCTYPE html>
<html>
<head>
  <title>Application Layout</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>
  <div class="container">
    <ul class="nav navbar-nav">
      <nav class="navbar">
        <li><a class="nav-link" href="#">Home</a></li>
       <li> <a class="nav-link" href="#">About</a></li>
        <li><a class="nav-link" href="#">Contact</a></li>
      </nav>
    </ul>
    
    <div class="row">
      <div class="col-lg-4">
        <p>column 1 </p>
        <button class="btn">
      </div>
      <div class="col-lg-4">
        <p>column 2 </p>
        <button class="btn">
      </div>
      <div class="col-lg-4">
        <p>column 3 </p>
        <button class="btn">
      </div>

    <div class="row">
        <div class="col-lg-4">
        <p>column 1 </p>
        <button class="btn">
      </div>
      <div class="col-lg-4">
        <p>column 2 </p>
        <button class="btn">
      </div>
      <div class="col-lg-4">
        <p>column 3 </p>
        <button class="btn">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <p>column 1 </p>
        <button class="btn">
      </div>
      <div class="col-lg-4">
        <p>column 2 </p>
        <button class="btn">
      </div>
      <div class="col-lg-4">
        <p>column 3 </p>
        <button class="btn">
      </div>
    </div>
    </div>
  </div>
<%= yield %>
<%= javascript_include_tag "application" %>
</body>
</html>
