<!DOCTYPE html>
<html>
<head>
  <title>Application Layout</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>

  <div class="container">
    <nav class="navbar navbar-dark">
        <ul class="nav navbar-nav">
          <li><a class="nav-item nav-link" href="#">Home</a></li>
          <li><a class="nav-item nav-link" href="#">About</a></li>
          <li><a class="nav-item nav-link" href="#">Contact</a></li>
        </ul>
      </div>
    </nav>
    <div class="row">
      <div class="col-lg-4">
        <p>some text</p>
        <button class="btn btn-success">
      </div>
      <div class="col-lg-4">
        <p>some text</p>
        <button class="btn btn-success">
      </div>
      <div class="col-lg-4">
        <p>some text</p>
        <button class="btn btn-success">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <p>some text</p>
        <button class="btn btn-success">
      </div>
      <div class="col-lg-4">
        <p>some text</p>
        <button class="btn btn-success">
      </div>
      <div class="col-lg-4">
        <p>some text</p>
        <button class="btn btn-success">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <p>some text</p>
        <button class="btn btn-success">
      </div>
      <div class="col-lg-4">
        <p>some text</p>
        <button class="btn btn-success">
      </div>
      <div class="col-lg-4">
        <p>some text</p>
        <button class="btn btn-success">
      </div>
    </div>

    <%= yield %>
  </div>
<%= javascript_include_tag "application" %>
</body>
</html>
