<!DOCTYPE html>
<html>
<head>
  <title>Application Layout</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>
<body>
  <ul class="nav navbar-nav">
    <li>Home</li>
    <li>About</li>
    <li>Contact</li>
  </ul>
<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <p>Coding is the best</p>
      <button class="btn btn-primary" type="submit">Button</button>
    </div>
    <div class="col-lg-4">
      <p>Coding is the best</p>
      <button class="btn btn-primary" type="submit">Button</button>
    </div>
    <div class="col-lg-4">
      <p>Coding is the best</p>
      <button class="btn btn-primary" type="submit">Button</button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <p>Coding is the best</p>
      <button class="btn btn-primary" type="submit">Button</button>
    </div>
    <div class="col-lg-4">
      <p>Coding is the best</p>
      <button class="btn btn-primary" type="submit">Button</button>
    </div>
    <div class="col-lg-4">
      <p>Coding is the best</p>
      <button class="btn btn-primary" type="submit">Button</button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <p>Coding is the best</p>
      <button class="btn btn-primary" type="submit">Button</button>
    </div>
    <div class="col-lg-4">
      <p>Coding is the best</p>
      <button class="btn btn-primary" type="submit">Button</button>
    </div>
    <div class="col-lg-4">
      <p>Coding is the best</p>
      <button class="btn btn-primary" type="submit">Button</button>
    </div>
  </div>
</div>
<%= yield %>
<%= javascript_include_tag "application" %>
</body>
</html>
