<!DOCTYPE html>
<html>
<head>
  <title>Application Layout</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>
  <div class="container">
   		<ul class="nav navbar-nav">
   			<nav class="navbar-nav">
   				<li><a href="#">Home</a></li>
   				<li><a href="#">About</a></li>
   				<li><a href="#">Contact</a></li>
   			</nav>
   		</ul>
   			<div class="row">
   				<div class="col-lg-4">
   					<p>Some text</p>
   					<button class="btn"></button>
   				</div>
   				<div class="col-lg-4">
   					<p>Some text</p>
   					<button class="btn"></button>
   				</div>
   				<div class="col-lg-4">
   					<p>Some text</p>
   					<button class="btn"></button>
   				</div>
   			</div>
   			<div class="row">
   				<div class="col-lg-4">
   					<p>Some text</p>
   					<button class="btn"></button>
   				</div>
   				<div class="col-lg-4">
   					<p>Some text</p>
   					<button class="btn"></button>
   				</div>
   				<div class="col-lg-4">
   					<p>Some text</p>
   					<button class="btn"></button>
   				</div>
   			</div>
   			<div class="row">
   				<div class="col-lg-4">
   					<p>Some text</p>
   					<button class="btn"></button>
   				</div>
   				<div class="col-lg-4">
   					<p>Some text</p>
   					<button class="btn"></button>
   				</div>
   				<div class="col-lg-4">
   					<p>Some text</p>
   					<button class="btn"></button>
   				</div>
   			</div>
   	</div>
<%= yield %>
<%= javascript_include_tag "application" %>
</body>
</html>
