<!DOCTYPE html>
<html>
<head>
  <title>Application Layout</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>
  <div class="container">
    <nav class="navbar">
      <ul class="nav navbar-nav">
        <li class="">
          <a href="#" class="">Home</a>
        </li>
        <li class="">
          <a href="#" class="">About</a>
        </li>
        <li class="">
          <a href="#" class="">Contact</a>
        </li>
      </ul>
    </nav>
    <div class="row">
      <div class="col-lg-4">
        <p>Some text <button class="btn btn-success"></button></p>
      </div>
      <div class="col-lg-4">
        <p>Some text <button class="btn btn-success"></button></p>      
      </div>
      <div class="col-lg-4">
        <p>Some text <button class="btn btn-success"></button></p>      
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <p>Some text <button class="btn btn-success"></button></p>      
      </div>
      <div class="col-lg-4">
        <p>Some text <button class="btn btn-success"></button></p>      
      </div>
      <div class="col-lg-4">
        <p>Some text <button class="btn btn-success"></button></p>      
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <p>Some text <button class="btn btn-success"></button></p>      
      </div>
      <div class="col-lg-4">
        <p>Some text <button class="btn btn-success"></button></p>      
      </div>
      <div class="col-lg-4">
        <p>Some text <button class="btn btn-success"></button></p>      
      </div>
    </div>
  </div>

<%= yield %>
<%= javascript_include_tag "application" %>
</body>
</html>
