<!DOCTYPE html>
<html>
<head>
  <title>Application Layout</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>

  <div class="container">

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div><a href="#">Home</a></div>
        <div><a href="#">About</a></div>
        <div><a href="#">Contact</a></div>
      </div>
    </nav>

    <div class="row">
      <col>
        <p>

          Food<br>
          <button type="button" class="btn btn-primary btn-lg btn-block">Click here</button>

        </p>
      </col>

      <col>
        <p>

          Drink<br>
          <button type="button" class="btn btn-primary btn-lg btn-block">Click here</button>

        </p>
      </col>

      <col>
        <p>

          Neither<br>
          <button type="button" class="btn btn-primary btn-lg btn-block">Click here</button>

        </p>
      </col>

    </div>

    <div class="row">
      <col>
        <p>

          Food<br>
          <button type="button" class="btn btn-primary btn-lg btn-block">Click here</button>

        </p>
      </col>

      <col>
        <p>

          Drink<br>
          <button type="button" class="btn btn-primary btn-lg btn-block">Click here</button>

        </p>
      </col>

      <col>
        <p>

          Neither<br>
          <button type="button" class="btn btn-primary btn-lg btn-block">Click here</button>

        </p>
      </col>

    </div>


    <div class="row">
      <col>
        <p>

          Food<br>
          <button type="button" class="btn btn-primary btn-lg btn-block">Click here</button>

        </p>
      </col>

      <col>
        <p>

          Drink<br>
          <button type="button" class="btn btn-primary btn-lg btn-block">Click here</button>

        </p>
      </col>

      <col>
        <p>

          Neither<br>
          <button type="button" class="btn btn-primary btn-lg btn-block">Click here</button>

        </p>
      </col>

    </div>


  <%= yield %>
  <%= javascript_include_tag "application" %>
</body>
</html>
