<!DOCTYPE html>
<html>
<head>
  <title>Application Layout</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>	
<div class="container">

	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	    </div>
	    <ul class="nav navbar-nav">
	      <li class="active"><a href="#">Home</a></li>
	      <li><a href="#">About</a></li>
	      <li><a href="#">Contact</a></li>
	      <li><a href="#">Page 3</a></li>
	    </ul>
	  </div>
	</nav>





	<div class="row">
	  <div class="col-lg-4">
        <p>Column #1
        	<button type="button" class="btn btn-outline-primary">Primary</button>
		</p>
      </div>
      <div class="col-lg-4">
        <p>Column #2
        	<button type="button" class="btn btn-outline-primary">Primary</button>
        </p>
      </div>
      <div class="col-lg-4">
      	<p>Column #3 <button type="button" class="btn btn-outline-primary">Primary</button>
		</p>
      </div>
    </div>
	<div class="row">
	  <div class="col-lg-4">
        <p>Column #1 <button type="button" class="btn btn-outline-primary">Primary</button>
		</p>
      </div>
      <div class="col-lg-4">
        <p>Column #2 <button type="button" class="btn btn-outline-primary">Primary</button>
		</p>
      </div>
      <div class="col-lg-4">
      	<p>Column #3 <button type="button" class="btn btn-outline-primary">Primary</button>
		</p>
      </div>
    </div>
	<div class="row">
	  <div class="col-lg-4">
        <p>Column #1 <button type="button" class="btn btn-outline-primary">Primary</button>
		</p>
      </div>
      <div class="col-lg-4">
        <p>Column #2 <button type="button" class="btn btn-outline-primary">Primary</button>
		</p>
      </div>
      <div class="col-lg-4">
      	<p>Column #3 <button type="button" class="btn btn-outline-primary">Primary</button>
		</p>
      </div>
    </div>
</div>

<%= yield %>
<%= javascript_include_tag "application" %>
</body>
</html>
