<!DOCTYPE html>
<html>
<head>
  <title>Application Layout</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>
<div class="container">
  <nav>
    <ul class="nav navbar-nav">
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>

  <div class="row">
    <div class="col-lg-4"><p>One</p><button type="button" class="btn btn-default"></button>
    <div class="col-lg-4"><p>Two</p><button type="button" class="btn btn-default"></button>
    <div class="col-lg-4"><p>Three</p><button type="button" class="btn btn-default"></button>
  </div>

  <div class="row">
    <div class="col-lg-4"><p>Four</p><button type="button" class="btn btn-default"></button>
    <div class="col-lg-4"><p>Five</p><button type="button" class="btn btn-default"></button>
    <div class="col-lg-4"><p>Six</p><button type="button" class="btn btn-default"></button>
  </div>

  <div class="row">
    <div class="col-lg-4"><p>Seven</p><button type="button" class="btn btn-default"></button>
    <div class="col-lg-4"><p>Eight</p><button type="button" class="btn btn-default"></button>
    <div class="col-lg-4"><p>Nine</p><button type="button" class="btn btn-default"></button>
  </div>
</div>
<%= yield %>
<%= javascript_include_tag "application" %>
</body>
</html>
