<!DOCTYPE html>
<html>
<head>
  <title>Application Layout</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>
<div class="container-fluid">
  <ul class="nav navbar-nav">
    <li>Home  </li>
    <li>About  </li>
    <li>Contact  </li>
  </ul>
</div>
<hr>
  <div class="container">
  <div class="row">
    <div class="col-lg-4">
      <p>Click Here <button type="submit" class="btn btn-default">Button</button></p>
    </div>
    <div class="col-lg-4">
      <p>Click Here <button type="submit" class="btn btn-default">Button</button></p>
    </div>
    <div class="col-lg-4">
      <p>Click Here <button type="submit" class="btn btn-default">Button</button></p>
    </div>

  </div>
  <div class="row">
    <div class="col-lg-4">
      <p>Click Here <button type="submit" class="btn btn-default">Button</button></p>
    </div>
    <div class="col-lg-4">
      <p>Click Here <button type="submit" class="btn btn-default">Button</button></p>
    </div>
    <div class="col-lg-4">
      <p>Click Here <button type="submit" class="btn btn-default">Button</button></p>
    </div>

  </div>
  <div class="row">
    <div class="col-lg-4">
      <p>Click Here <button type="submit" class="btn btn-default">Button</button></p>
    </div>
    <div class="col-lg-4">
      <p>Click Here <button type="submit" class="btn btn-default">Button</button></p>
    </div>
    <div class="col-lg-4">
      <p>Click Here <button type="submit" class="btn btn-default">Button</button></p>
    </div>

    </div>


</div>
<%= yield %>
<%= javascript_include_tag "application" %>
</body>
</html>
