<!DOCTYPE html>
<html>
<head>
  <title>Application Layout</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>

<div class="container">
  <ul class="nav navbar-nav">
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Contact</a></li>
  </ul>

  <div class="row">
    <div class="col-lg-4">
      <p><button type="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Star
</button>blar blar blar</p>
    <div class="col-lg-4">
      <p><button type="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Star
</button>blar blar blar</p>
    <div class="col-lg-4">
      <p><button type="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Star
</button>blar blar blar</p>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <p>
        <button type="button" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Star
        </button>blar blar blar</p>
    <div class="col-lg-4">
      <p>
        <button type="button" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Star
        </button>blar blar blar
      </p>
    <div class="col-lg-4">
      <p>
        <button type="button" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Star
        </button>blar blar blar</p>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <p><button type="button" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Star
        </button>blar blar blar
      </p>
    <div class="col-lg-4">
      <p>
        <button type="button" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Star
    </button>blar blar blar</p>
    <div class="col-lg-4">
      <p><button type="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Star
</button>blar blar blar</p>
  </div>
</div>

<%= yield %>
<%= javascript_include_tag "application" %>
</body>
</html>
