<!DOCTYPE html>
<html>
<head>
  <title>Application Layout</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>
  <div class="container">
    <div class="row">
      <ul class="nav navbar-nav">
        <a href="#"><li>Home</li></a>
        <a href="#"><li>About</li></a>
        <a href="#"><li>Contact</li></a>
      </ul>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <p>para 1</p>
        <button type="button" class="btn btn-secondary">Left</button>
      </div>
      <div class="col-lg-4">
        <p>para 2</p>
        <button type="button" class="btn btn-secondary">Middle</button>
      </div>
      <div class="col-lg-4">
        <p>para 3</p>
        <button type="button" class="btn btn-secondary">Right</button>
      </div>
    </div>
    
    <div class="row">
      <div class="col-lg-4">
        <p>para 1</p>
        <button type="button" class="btn btn-secondary">Left</button>
      </div>
      <div class="col-lg-4">
        <p>para 2</p>
        <button type="button" class="btn btn-secondary">middle</button>
      </div>
      <div class="col-lg-4">
        <p>para 3</p>
        <button type="button" class="btn btn-secondary">Right</button>
      </div>
    </div>
    
    <div class="row">
      <div class="col-lg-4">
        <p>para 1</p>
        <button type="button" class="btn btn-secondary">Left</button>
      </div>
      <div class="col-lg-4">
        <p>para 2</p>
        <button type="button" class="btn btn-secondary">Middle</button>
      </div>
      <div class="col-lg-4">
        <p>para 3</p>
        <button type="button" class="btn btn-secondary">Right</button>
      </div>
    </div>
  
  </div>

<%= yield %>
<%= javascript_include_tag "application" %>
</body>
</html>
