<!DOCTYPE html>
<html>
<head>
  <title>Application Layout</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>
  <nav class="navbar">
    <ul class="nav navbar-nav">
      <li><a href="#" class="nav-item nav-link">Home</a></li>
      <li><a href="#" class="nav-item nav-link">About</a></li>
      <li><a href="#" class="nav-item nav-link">Contact</a></li>
    </ul>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <p>Hi im a paragraph</p>
        <button type="button" class="btn">And im button</button>
      </div>
      <div class="col-lg-4">
        <p>Hi im a paragraph</p>
        <button type="button" class="btn">And im button</button>
      </div>
      <div class="col-lg-4">
        <p>Hi im a paragraph</p>
        <button type="button" class="btn">And im button</button>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <p>Hi im a paragraph</p>
        <button type="button" class="btn">And im button</button>
      </div>
      <div class="col-lg-4">
        <p>Hi im a paragraph</p>
        <button type="button" class="btn">And im button</button>
      </div>
      <div class="col-lg-4">
        <p>Hi im a paragraph</p>
        <button type="button" class="btn">And im button</button>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <p>Hi im a paragraph</p>
        <button type="button" class="btn">And im button</button>
      </div>
      <div class="col-lg-4">
        <p>Hi im a paragraph</p>
        <button type="button" class="btn">And im button</button>
      </div>
      <div class="col-lg-4">
        <p>Hi im a paragraph</p>
        <button type="button" class="btn">And im button</button>
      </div>
    </div>
  </div>
  <%= yield %>
  <%= javascript_include_tag "application" %>
</body>
</html>
