<!DOCTYPE html>
<html>
<head>
  <title>Application Layout</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>
  <div class='container'>
    <nav class="navbar">
      <ul class="nav navbar-nav form-inline"> <li>
        <a class="li" href="#">About</a>
      </li>
      <li>
        <a class="li" href="#">Home</a>
      </li>
      <li>
        <a class="li" href="#">Contact</a>
      </li> </ul>
    </nav>
    <div class='row'>
      <div class="col-lg-4">
        <p>
          hey
          <button type="button" class="btn btn-success">Success</button>
        </p>
      </div>
      <div class="col-lg-4">
        <p>
          hey
          <button type="button" class="btn btn-success">Success</button>
        </p>
      </div>
      <div class="col-lg-4">
        <p>
          hey
          <button type="button" class="btn btn-success">Success</button>
        </p>
      </div>
    </div>
    <div class='row'>
      <div class="col-lg-4">
        <p>
          hey
          <button type="button" class="btn btn-success">Success</button>
        </p>
      </div>
      <div class="col-lg-4">
        <p>
          hey
          <button type="button" class="btn btn-success">Success</button>
        </p>
      </div>
      <div class="col-lg-4">
        <p>
          hey
          <button type="button" class="btn btn-success">Success</button>
        </p>
      </div>
    </div>
    <div class='row'>
      <div class="col-lg-4">
        <p>
          hey
          <button type="button" class="btn btn-success">Success</button>
        </p>
      </div>
      <div class="col-lg-4">
        <p>
          hey
          <button type="button" class="btn btn-success">Success</button>
        </p>
      </div>
      <div class="col-lg-4">
        <p>
          hey
          <button type="button" class="btn btn-success">Success</button>
        </p>
      </div>
    </div>
  </div>

<%= yield %>
<%= javascript_include_tag "application" %>
</body>
</html>
