<!DOCTYPE html>
<html>
<head>
  <title>Application Layout</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>

    </ul>
    <div class="row">
      <div class="col-lg-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et</p>
        <button type="button" class="btn btn-primary" name="button"></button>
      </div>
      <div class="col-lg-4">
        <p>dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo </p>
        <button type="button" class="btn btn-primary" name="button"></button>
      </div>
      <div class="col-lg-4">
        <p>consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
        <button type="button" class="btn btn-primary" name="button"></button>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et</p>
        <button type="button" class="btn btn-primary" name="button"></button>
      </div>
      <div class="col-lg-4">
        <p>dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo </p>
        <button type="button" class="btn btn-primary" name="button"></button>
      </div>
      <div class="col-lg-4">
        <p>consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
        <button type="button" class="btn btn-primary" name="button"></button>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et</p>
        <button type="button" class="btn btn-primary" name="button"></button>
      </div>
      <div class="col-lg-4">
        <p>dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo </p>
        <button type="button" class="btn btn-primary" name="button"></button>
      </div>
      <div class="col-lg-4">
        <p>consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
        <button type="button" class="btn btn-primary" name="button"></button>
      </div>
    </div>
  </div>
  <%= yield %>
<%= javascript_include_tag "application" %>
</body>
</html>
