<!DOCTYPE html>
<html>
<head>
  <title>Application Layout</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>

<%= yield %>
<%= javascript_include_tag "application" %>
<div class=“container”>
<div class="row">
<div class=“col-lg-4”>
  <p><b>This text is bold</b></p>
<button type="button" class="btn btn-primary">One</button>
</div>
</div>
<div class="row">
<div class=“col-lg-4”>
  <p><i>This text is italic</i></p>
<button type="button" class="btn btn-primary">Two</button>
</div>
</div>
<div class="row">
<div class=“col-lg-4”>
  <p><b>This text is bold</b></p>
<button type="button" class="btn btn-primary">Three</button>
</div>
</div>

</div>

</body>
</html>
