<!DOCTYPE html>
<html>
<head>
  <title>Application Layout</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>
  <ul class="nav navbar-nav">
    <div class="navbar-nav">
        <li><a class="home" href="#">Home</a></li>
        <li><a class="about" href="#">About</a></li>
        <li><a class="contact" href="#">Contact</a></li>
    </div>
  </ul>
      
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <p>some text</p>
        <button type="button" class="btn">Basic Button</button>
      </div>
      <div class="col-lg-4">
        <p>some more text</p>
        <button type="button" class="btn">new button name</button>
      </div>
      <div class="col-lg-4">
        <p>some more text more</p>
        <button type="button" class="btn">'nother button</button>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <p>some text</p>
        <button type="button" class="btn">Basic Button</button>
      </div>
      <div class="col-lg-4">
        <p>some text</p>
        <button type="button" class="btn">Basic Button</button>
      </div>
      <div class="col-lg-4">
        <p>some text</p>
        <button type="button" class="btn">Basic Button</button>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <p>some text</p>
        <button type="button" class="btn">Basic Button</button>
      </div>
      <div class="col-lg-4">
        <p>some text</p>
        <button type="button" class="btn">Basic Button</button>
      </div>
      <div class="col-lg-4">
        <p>some text</p>
        <button type="button" class="btn">Basic Button</button>
      </div>
    </div>
  </div>
<%= yield %>
<%= javascript_include_tag "application" %>
</body>
</html>
