<!DOCTYPE html>
<html>
<head>
  <title>Application Layout</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
    <div class="row">
      <div class="col-lg-4">
        <p>Paragraph 1</p>
        <button type="button" class="btn btn-lg btn-danger">Button</button>
      </div>
      <div class="col-lg-4">
        <p>Paragraph 2</p>
        <button type="button" class="btn btn-lg btn-default">Button</button>
      </div>
      <div class="col-lg-4">
        <p>Paragraph 3</p>
        <button type="button" class="btn btn-lg btn-default">Button</button>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <p>Paragraph 1</p>
        <button type="button" class="btn btn-lg btn-default">Button</button>
      </div>
      <div class="col-lg-4">
        <p>Paragraph 2</p>
        <button type="button" class="btn btn-lg btn-default">Button</button>
      </div>
      <div class="col-lg-4">
        <p>Paragraph 3</p>
        <button type="button" class="btn btn-lg btn-default">Button</button>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <p>Paragraph 1</p>
        <button type="button" class="btn btn-lg btn-default">Button</button>
      </div>
      <div class="col-lg-4">
        <p>Paragraph 2</p>
        <button type="button" class="btn btn-lg btn-default">Button</button>
      </div>
      <div class="col-lg-4">
        <p>Paragraph 3</p>
        <button type="button" class="btn btn-lg btn-default">Button</button>
      </div>
    </div>
  </div>

<%= yield %>
<%= javascript_include_tag "application" %>
</body>
</html>
